@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    /* background-image: url('../images/bac_2.jpg'); */
    font-family: Georgia, serif;
    padding-top: 50px;
}
article{
  margin: 2%;
}
@media screen and (min-width:991.98px){
  section{
    margin: auto;
    margin-top: 2%;
    width: 75%;
    border: 3px solid green;
    padding: 10px;
  }
}

.store_table{
  display:block;
}
table{
  box-sizing: content-box;
}

/*#region-------Form Styles-------*/
/*class takes precidence*/
.fieldset {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ddd;
    margin: auto;
    width: 55%;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus, input[type=tel]:focus, input[type=email]:focus {
    background-color: #FFE0B2;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
.error {
    box-shadow: 0 0 5px #FF5252;
    border-color: #FF1744;
}

/* Text box icon */
.eye_container {
    position: relative;
    
}

@media screen and (max-width:650px){
  .popover {
    display: none !important;
  }
}
/* @media screen and (max-width:465px){
  .input_img {
    position: absolute;
    margin-right: 25%;
  }
} */

/* Desktop size */
@media screen and (min-width:468.98px){
  .input_img {
    /* background-color: #1caa46; */
    position: absolute;
    right: 4%;
    /* right: .75vw; */
  }
}
/* CapsLk warning */
#CapsLk {
    display:none;
    color:red
}
/*#endregion-------Form Styles-------*/

/*#region-------SideNav Styles------- */
/* Mobile first - up to 991.98px wide */
@media screen and (max-width:991.98px){
  .desktop_show{
    display: none;
  }
}
/* Desktop size */
@media screen and (min-width:991.98px){
  .desktop-hide {
      display:none;
  }
}
#navbtn{
  font-size:20px;
  cursor: pointer;
  /* color: rgb(135, 135, 136); */
  float: right;
  /* padding-right: 10px; */
  margin: 10px;
}
#navbtn:hover{
  color: #1caa46;
}  
#websiteNav {   
  border:solid 1px;
  background-image: url(../images/bac_2.jpg);
  height: 100%;
  width: 0;
  position: fixed;
  /* top: 0; */
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 2%;
}
.navicon{
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 50px auto;
  text-align: center;
  position: relative;
}
#expicon{
  background-image: url("../images/expd.png");
}
#newsicon{
  background-image: url("../images/news.png");
}  
#mbricon{
  background-image: url("../images/membership.png");
}
#storeicon{
  background-image: url("../images/web-store.png");
}
#discourseicon{
  background-image: url("../images/discourse_icon.png");
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(0, 0, 0);
  display: block;
  transition: 0.2s;
}
.sidenav a:hover {
  background-color: #ddd;
  color: #1caa46;
}
.sidenav #navclosebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
}
/*#endregion-------SideNav Styles-------*/

/*#region-----Home.php Styles-----*/
.banner {
    margin-bottom: 20px;
    background-color: #80ff80;
    height: 300px;
    padding-top: 10px;
    padding-bottom: 50px;
}
.carouselHeader {
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid;
}
.carousel-container{
    margin: auto;
    width: 85%;
    padding: 10px;
}
/*#endregion-------Home.php Styles-------*/

/*#region-------Footer Styles-------*/
footer {
    width: 100%;
    margin: auto;
}

.resources {
    text-align: left;
    display: inline-block;
    border: 1px solid #276873;
}

.Icon_links {
    text-align: left;
    display: inline-block;
    padding-left: 30px;
}
.copyright {
    background-color: #80ff80;
}
/*#endregion-------Footer Styles-------*/