body {
font-family: Georgia, serif;
}
.fieldset {
padding: 20px;
}
.banner {
margin-bottom: 20px;
background-color: #80ff80;
height: 300px;
padding-top: 10px;
padding-bottom: 50px;
}
.carouselHeader {
padding-top: 50px;
padding-bottom: 50px;
border-top: 1px solid;
}
.carousel-container{
margin: auto;
width: 85%;
padding: 10px;
}